.Sidebar{
    height: 100%;
    width: 280px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    overflow: auto;
}

.sidebar_dropdown{
    font-size: 18px;
    text-align: start;
    padding: 10px 0;
    cursor: pointer;
    z-index: 1;
}

.Mui_drop{
    color: #29952B;
    padding: 0;
}

.Mui_drop:hover{
    background-color: #f5f5f5 !important;
}

.sidebar_dropdown:hover{
    background-color: #bad4df;
}